<!DOCTYPE html>

<head>
    <title>Voluntary</title>
    <link rel="stylesheet" href="../static/css/stelyhomepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<html>

<body>
    <section>
        <header>

            <div class="navbar">
                <a href="/"><i class="fa fa-fw fa-home"></i>
                    Home</a>
                <a href="/login"><i class="fa fa-fw fa-user"></i>
                    Login</a>
                <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                <div style="float: right;">
                    <a href="#">
                        <h3> SVR</h3>
                    </a>
                </div>
            </div>
        </header>
      </section>
      <div class="box">
  
          <div class="box2">
              <h1 style="font-size: 35px; ">Skills Volunteering Record</h1>
              <h5> website provides a platform for volunteers and organizations
                  to help each
                  other.
              </h5>
          </div>
          <div class="image">
              <img src="/static/img/Credit card-rafiki.png" alt="" width="50px"
                  height="400px" style=" position: absolute;
                  top:110px;
                  border: 3px ; width: 250px;
                  color: #7658ac; margin-left: 340px;">
          </div>
          <div class="h44">Do you want to boost your CV and help your community? Why not register with us and check our
              volunteering opportunities: </div>
  
  
          <div class="h55">Do you need volunteers ? Register to post the volunteering
              opportunities</div>
  
          <div class="share-button"
              style="width: 100px; box-sizing: border-box;height:50px; margin-top: 25px;  margin: 20px ;top: 110px;left: 10px;">
              <span>Volunteers</span>
              <a href="/register"><i class="fab fa-facebook-f"
                      style="background-color:#028b7d; color: white;">New
                      Registeration</i></a>
          </div>
  
  
          <div class="image">
              <img src="/static/img/Startup life-pana.png" alt="" width="200px"
                  height="250px" style=" position: absolute;
                  top: 263px;
                  border: 3px ; width: 250px;
                  color: #7658ac; margin-left: -40px;">
  
  
              <div class="share-button"
                  style="width: 100px; box-sizing: border-box;height:50px; margin-top: 25px; margin: 20px;top: 330px;left: 280px;">
                  <span>Institutes</span>
                  <a href="/companyregistration"><i
                          class="fab fa-facebook-f" style="background-color:#028b7d; color: white;">New
                          Registeration</i></a>
              </div>
          </div>
      </div>
  </body>
  </html>
  