<!DOCTYPE html>

<head>
    <title>Institution Registeration</title>
    <link rel="stylesheet" href="../static/css/styleopp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="main-content">
    <section>
        <div class="box1">
            <header>

                <div class="navbar">
                    <a href="/"><i
                            class="fa fa-fw fa-home"></i> Home</a>
                    <a class="active" href="/opportunitites"><i
                            class="fa fa-fw fa-envelope"></i> Opportunities</a>
                    <a href="/login"><i
                            class="fa fa-fw fa-user"></i>
                        Login</a>
                    <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                    <div style="float: right;">
                        <a href="#">
                            <h3> SVR</h3>
                        </a>
                    </div>
                </div>
            </header>
        </section>
    </div>
<body>
</html>