<!DOCTYPE html>
<html>

<head>
    <title>
        register vulanter
    </title>
    <link rel="stylesheet" href="../static/css/style-registr-vulanteer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <section>
        <div class="box1">
            <header>
                <div class="navbar">
                    <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                    <a href="/login"><i class="fa fa-fw fa-user"></i>
                        Login</a>
                    <div style="float: right;">
                        <a href="#">
                            <h3> SVR</h3>
                        </a>
                    </div>
            </header>
            <div class="box2">
                <h1 style="font-size: 38px; ">Register to access your volunteering opportunity.</h1>
            </div>
            <div class="image"> 
                <form action="/register" method="POST" class="box" >
                <h1> Register </h1>
                <p class="text-muted"> Please enter your login and password!</p>
                <input type="text" name="name" class="form-control" placeholder="name" required>
                <input type="text" name="dob" class="form-control" placeholder="Date of birth" required>
                <input type="text" name="username" class="form-control" placeholder="user name" required>
                <input type="email" name="email" class="form-control" placeholder="Email" required>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <input type="password" name="confirm" class="form-control" placeholder="confirm password" required>
                <label>profile image:</label>
                <input type="file" name="image" />
                <input type="submit" name="" value="Submit">
            <a class="forgot text-muted" href="#">Forgot password?</a>        
        </form>
    </div>

    <div style="box-sizing: border-box;margin-top: 12%;margin-left: 535px;">
        <img src="/static/img/Mobile login-bro.png" alt="" width="200px"
            height="400px">
    </div>
    <div style="box-sizing: border-box;margin-top:-500px;margin-left: 240px;">
        <img src="/static/img/Add User-pana.png" alt="" width="200px"
            height="200px" style="margin-top: 300px; margin-left:-200px;"><br>
    </div>
</div>
<div class="box4" style="box-sizing: border-box;margin-top:-300px;margin-left: 40px;">
    <i class="fa fa-twitter-square" style="font-size:30px;color:#7658ac"></i>
    <i class="fa fa-facebook-square" style="font-size:30px;color:#7658ac"></i>
    <i class="fa fa-snapchat-square" style="font-size:30px;color:#7658ac"></i>
</div>
</section>
</body>
</html>